<div id="filterrific_results">

  <table class="table table-condensed">

    <thead>
    <tr>
      <th>Article Pic</th>
      <th>Article name</th>
      <th>Actions</th>
      <th colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <% @blog_article.each do |article| %>
        <tr>
          <td><%= image_tag article.article_main_image.url(:thumb) %></td>
          <td><%= article.article_name %></td>
          <td><%= link_to 'Show', article_view_url(article.id),  class:'btn btn-info' %></td>
          <td><%= link_to 'Edit', edit_admin_blog_article_path(article),  class:'btn btn-success' %></td>
          <td><%= link_to 'Delete', admin_blog_article_url(article),  class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>

  </table>

  <div class="digg_pagination">
    <%= will_paginate @blog_article, :container => false %>
  </div>
</div>

