<div class="row">
  <!-- Blog Entries Column -->
  <div class="col-md-8">

    <h1 class="my-4">
      <small></small>
    </h1>

    <!-- Blog Posts -->
    <%= render(partial: '/page/partials/post_list') %>

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <div class="digg_pagination">
        <%= will_paginate @blog_articles, :page_links => false %>
      </div>
    </ul>

  </div>

  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">

    <!-- Search Widget -->
    <%= render(partial: '/page/partials/search') %>

    <!-- Categories Widget -->
    <%= render(partial: '/page/partials/categories') %>

    <!-- Side Widget -->
    <%= render(partial: '/page/partials/side_widget') %>

  </div>

</div>
