<div class="row">
  <%= form_with(model: [:admin, @blog_article], class:'form-control', local: true) do |form| %>
  <div class="form-group">
    <%= form.label :article_name %>
    <%= form.text_field :article_name, id: :blog_article_article_name,  class:'form-control' %>
    <% if @blog_article.errors[:article_name][0] %>
        </br>
        <p class="alert alert-danger">
          <%= @blog_article.errors[:article_name][0] %>
        </p>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :article_body %>
    <%= form.text_area :article_body, id: :blog_article_article_body,  class:'form-control',   rows:"5" %>
    <% if @blog_article.errors[:article_body][0] %>
        </br>
        <p class="alert alert-danger">
          <%= @blog_article.errors[:article_body][0] %>
        </p>
    <% end %>

  </div>

    <div class="form-group">
      <%= form.label :article_main_image %>
      <%= form.file_field :article_main_image,  class:'form-control' %>
    </div>

  <div class="form-group">
    <%= form.submit class:'btn btn-success' %>
    <%= link_to 'Back', admin_blog_articles_path, class:'btn btn-primary' %>

  </div>
<% end %>

</div>