<table class="table table-condensed">

<p id="notice"><%= notice %></p>

<h1>Admin Blog Articles <%= link_to 'New Admin Blog Article', new_admin_blog_article_path,  class:'btn btn-primary' %></h1>

  <thead>
    <tr>
      <th>Article Pic</th>
      <th>Article name</th>
      <th>Article body</th>
      <th>Actions</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_article.each do |blog_article| %>
      <tr>
        <td><%= image_tag blog_article.article_main_image.url(:thumb) %></td>
        <td><%= blog_article.article_name %></td>
        <td><%= blog_article.article_body %></td>
        <td><%= link_to 'Show', [:admin,  blog_article],  class:'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_admin_blog_article_path(blog_article),  class:'btn btn-success' %></td>
        <td><%= link_to 'Destroy', [:admin, blog_article], method: :delete, data: { confirm: 'Are you sure?' },  class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
