<div class="row">

  <!-- Post Content Column -->
  <div class="col-lg-8">
    </br>

    <% if notice %>
        <p id="notice" class="alert alert-success"><%= notice %></p>
    <% end %>

    <!-- Title -->
    <h1 class="mt-4"><%= @blog_article.article_name %></h1>

    <%= link_to 'Edit', edit_admin_blog_article_path(@blog_article) %> |
    <%= link_to 'Back', admin_blog_articles_path %>

    <!-- Author -->
    <p class="lead">
      by
      <a href="#">Kalana</a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p>Posted on January  <%= @blog_article.created_at %></p>

    <hr>

    <!-- Preview Image -->
    <img class="img-fluid rounded" src="<%= @blog_article.article_main_image.url  %>" alt="" style="height:300px;width:900px">

    <hr>

    <!-- Post Content -->
    <p class="lead">
      <%= @blog_article.article_body %>
    </p>

    <hr>

    <!-- Comments Form -->
    <%= render 'admin/comments/form' %>

    <!--Comments -->
    <%= render @blog_article.comments %>
  </div>

  </div>

</div>
<!-- /.row -->
