<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%#stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=>'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=>'reload' %>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/css/blog-home.css" rel="stylesheet">

    <link href="/assets/pagination.css" rel="stylesheet">
  </head>

  <body>
    <!-- Navigation -->
    <%= render(partial: '/layouts/partials/main_nav_menu') %>

    <br>

    <div class="container">

    <% if !current_page?('/') && user_signed_in? %>
          <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
              <div class="list-group">
                <a href="#" class="list-group-item active">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <div class="row">
                <%= yield %>
              </div><!--/row-->
            </div><!--/span-->

            <!--/span-->
          </div><!--/row-->

    <% else %>
      <%= yield %>
    <% end %>


      <hr>

      <footer>
        <p>© Company 2017</p>
      </footer>

    </div>












    </br>
    <!-- Footer -->
    <%= render(partial: '/layouts/partials/footer') %>

   <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
  </body>
</html>
